# Example .env-file. Rename to .env and fill in the values.
# See also https://docs.usebruno.com/secrets-management/dotenv-file#managing-secrets

# Secrets for authenticating to the Altinn Notification service
TOKEN_GENERATOR_URL=
TOKEN_BASIC_AUTH_USER=
TOKEN_BASIC_AUTH_PW= 

# Settings for testdata pointing to you (i.e. resulting in an email in your inbox og an SMS to your phone)
TESTDATA_MY_EMAIL=
TESTDATA_MY_PHONE=

# Settings for URL's conforming to the condition spec (https://docs.altinn.studio/notifications/explanation/send-condition/)
# The corrupt endpoint returns something (anything) else.
TESTDATA_URL_CONDITION_TRUE=                   
TESTDATA_URL_CONDITION_FALSE=
TESTDATA_URL_CONDITION_CORRUPT=