name: Regression test - AT

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      TOKENGENERATOR_USERNAME:
        required: true
      TOKENGENERATOR_USERPASSWORD:
        required: true
      AUTOMATEDTEST_EMAILRECIPIENT:
        required: true
      AUTOMATEDTEST_NINRECIPIENT:
        required: true
      AUTOMATEDTEST_ORG_NO_RECIPIENT:
        required: true
      AUTOMATEDTEST_RESOURCE_ID:
        required: true
      SLACK_WEBHOOK_URL_TEST:
        required: true

jobs:
  regression-tests:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    permissions:
      contents: read
    env:
      altinn_env: ${{ vars.ENV }}
      runFullTestSet: true
      tokenGeneratorUserName: ${{ secrets.TOKENGENERATOR_USERNAME }}
      tokenGeneratorUserPwd: ${{ secrets.TOKENGENERATOR_USERPASSWORD }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Set up K6
        uses: grafana/setup-k6-action@ffe7d7290dfa715e48c2ccc924d068444c94bde2 # v1.1.0
      - name: Run email notification order regression tests
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/orders-email.js
          flags: -e emailRecipient=${{ secrets.AUTOMATEDTEST_EMAILRECIPIENT }} -e ninRecipient=${{ secrets.AUTOMATEDTEST_NINRECIPIENT}} -e subscriptionKey=${{ secrets.AUTOMATEDTEST_APIM_SUBSCRIPTION_KEY}}

      - name: Run contact(s) lookup by organization number regression tests with generating an email notification
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/orders-org-no.js
          flags: -e orgNoRecipient=${{ secrets.AUTOMATEDTEST_ORG_NO_RECIPIENT}} -e resourceId=${{ secrets.AUTOMATEDTEST_RESOURCE_ID}}

      - name: Run sms notification order regression tests
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/orders-sms.js
          flags: -e smsRecipient=${{ secrets.AUTOMATEDTEST_SMSRECIPIENT }}
  slack-notify:
    if: failure()
    needs: regression-tests
    uses: ./.github/workflows/send-slack-warning.yml
    permissions: {}
    with:
      warning-message: 'Notifications regression test failure in ${{ inputs.environment }}'
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_TEST }}
