name: Regression test - TT02

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 1-5'

jobs:
  test:
    environment: TT02
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      altinn_env: ${{ vars.ENV }}
      encodedJwk: ${{ secrets.MP_ENCODEDJWK }}
      mpClientId: ${{ secrets.MP_CLIENT_ID }}
      mpKid: ${{ secrets.MP_KID }}
      runFullTestSet: true
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Set up K6
        uses: grafana/setup-k6-action@ffe7d7290dfa715e48c2ccc924d068444c94bde2 # v1.1.0
      - name: Run email notification order regression tests
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/orders-email.js
          flags: -e emailRecipient=${{ secrets.AUTOMATEDTEST_EMAILRECIPIENT }} -e ninRecipient=${{ secrets.AUTOMATEDTEST_NINRECIPIENT}} -e subscriptionKey=${{ secrets.AUTOMATEDTEST_APIM_SUBSCRIPTION_KEY}}
      - name: Run contact(s) lookup by organization number regression tests with generating an email notification
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/orders-org-no.js
          flags: -e orgNoRecipient=${{ secrets.AUTOMATEDTEST_ORG_NO_RECIPIENT}} -e resourceId=${{ secrets.AUTOMATEDTEST_RESOURCE_ID}}
      - name: Run sms notification order regression tests
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/orders-sms.js
          flags: -e smsRecipient=${{ secrets.AUTOMATEDTEST_SMSRECIPIENT }}
      - name: Build failure report
        if: failure()
        run: |
          report=":warning: Notifications regression test failure in ${{ vars.ENV }} :warning: \n"
          report+="\n Workflow available here: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          echo "stepreport="$report >> $GITHUB_ENV
      - name: Report failure to Slack
        if: failure()
        id: slack
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook-type: incoming-webhook
          webhook: ${{ secrets.SLACK_WEBHOOK_URL_PROD }}
          payload: |
            {
              "text": "${{ env.stepreport }}"
            }
