name: Use Case - PROD

on:
  workflow_dispatch:
  schedule:
    - cron: '*/15 * * * *'
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

jobs:
  test:
    environment: Prod
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      altinn_env: Prod
      encodedJwk: ${{ secrets.MP_ENCODEDJWK }}
      mpClientId: ${{ secrets.MP_CLIENT_ID }}
      mpKid: ${{ secrets.MP_KID }}
      tokenGeneratorUserName: ${{ secrets.TOKENGENERATOR_USERNAME }}
      tokenGeneratorUserPwd: ${{ secrets.TOKENGENERATOR_USERPASSWORD }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Set up K6
        uses: grafana/setup-k6-action@ffe7d7290dfa715e48c2ccc924d068444c94bde2 # v1.1.0
      - name: Run API v2 tests
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/orders-v2.js
          flags: -e ninRecipient=${{ secrets.AUTOMATEDTEST_NINRECIPIENT}} -e smsRecipient=${{ secrets.AUTOMATEDTEST_SMSRECIPIENT}} -e subscriptionKey=${{ secrets.AUTOMATEDTEST_APIM_SUBSCRIPTION_KEY}}
          # inspect-flags: -e altinn_env=Prod # Supplies the value for pre-run validation, when env vars / flags are not yet defined
      - name: Run API v2 recipientOrganization tests
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/orders-org-no-v2.js
          flags: -e orgNoRecipient=${{ secrets.AUTOMATEDTEST_ORG_NO_RECIPIENT}} -e resourceId=urn:altinn:resource:${{ secrets.AUTOMATEDTEST_RESOURCE_ID}}
          inspect-flags: -e altinn_env=Prod # Supplies the value for pre-run validation, when env vars / flags are not yet defined
      - name: Run email notification order use case tests
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/orders-email.js
          flags: -e emailRecipient=${{ secrets.AUTOMATEDTEST_EMAILRECIPIENT }} -e ninRecipient=${{ secrets.AUTOMATEDTEST_NINRECIPIENT}} -e subscriptionKey=${{ secrets.AUTOMATEDTEST_APIM_SUBSCRIPTION_KEY}}
          inspect-flags: -e altinn_env=Prod # Supplies the value for pre-run validation, when env vars / flags are not yet defined
      - name: Run contact(s) lookup by organization number use case tests with generating an email notification
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/orders-org-no.js
          flags: -e orgNoRecipient=${{ secrets.AUTOMATEDTEST_ORG_NO_RECIPIENT}} -e resourceId=${{ secrets.AUTOMATEDTEST_RESOURCE_ID}}
          inspect-flags: -e altinn_env=Prod # Supplies the value for pre-run validation, when env vars / flags are not yet defined
      - name: Run sms notification order use case tests
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/orders-sms.js
          flags: -e smsRecipient=${{ secrets.AUTOMATEDTEST_SMSRECIPIENT }}
          inspect-flags: -e altinn_env=Prod # Supplies the value for pre-run validation, when env vars / flags are not yet defined
  slack-notify:
    if: failure()
    needs: test
    uses: ./.github/workflows/send-slack-warning.yml
    permissions: {}
    with:
      warning-message: 'Notifications use case test failure in Prod'
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_PROD }}
